#!/bin/bash

docker exec aquarium-db bash -c "exec mysqldump --databases aquarium --default-character-set=utf8mb4 -uroot -p'{{ vault_aquarium_admin_mdp }}'" | gzip > aquarium-$(date +%F-%Hh%Mm).sql.gz
